<div class="col-xs-12">
  <button class="btn btn-primary" (click)="addTable()">Add Table</button>
  <button class="btn btn-primary" (click)="addRow(-1)">Add Row</button>
  <button class="btn btn-primary" (click)="addColumn()">Add Column</button>
  <button class="btn btn-danger" (click)="removeTable()">Delete Table</button>
  <button class="btn btn-danger" (click)="removeRow(-1)">Delete Row</button>
  <button class="btn btn-danger" (click)="removeColumn()">Delete Column</button>
</div>
<div id="myDiagramDiv"></div>
